<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <h1>Event List</h1>
    </div>
    <div>
      <% @events.each do |event| %>
      <h2> <a href="/events/<%= event.id %>"><%= event.title %></a> : <%= event.location %></h2>
      <% end %>
    </div>
    <div>
    </div>
  </body>
  </html>
