<!DOCTYPE html>
<html lang="en">
<head>
  <link href='/css/bootstrap.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/application.css">
  <title>My Event Manager</title>
</head>
<body>
  <div class='container'>
  <div class='col-md-12 navbar navbar-default navbar-static-top'>
    <a href='/' class='navbar-brand'>Event Manager</a>
      <ul>
      <li><a href="/index">Event Index</a></li>
      </ul>
  </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
