<h1><%= @event.title %></h1>
<ul>
  <li>
    <h2>Description</h2>
    <p><%= @event.description %></p>
  </li>
  <li>
    <h2>Host</h2>
    <p><%= @event.host %></p>
  </li>
  <li>
    <h2>Location</h2>
    <address><%= @event.location %></address>
  </li>
</ul>
