<!-- <div class="jumbotron">
  <div class="container"> -->

    <h1><%= @event.title %></h1>
    <h1><%= @event.host %></h1>
    <h1><%= @event.location %></h1>

    <p><%= @event.description %></p>
  <!-- </div>
</div> -->
